<h1 style="text-align: center;">Log in</h1>
<div class="form">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <input matInput placeholder="Email address" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']">
        Email address is required
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
        Please enter a valid email address
      </mat-error>
      <input matInput type="password" placeholder="Password" formControlName="password" />
      <mat-error *ngIf="password?.errors?.['required']">
        Password is required
      </mat-error>

    <button type="button" class="btn btn-info" (click)="submit()" >Log in</button>
    <div>
      <a routerLink="/sign-up">Register</a>
    </div>
    <div class="row mt-2">
      <a (click)="SignInWithGoogle()" style="text-decoration: none;cursor: pointer;">
        <img src="../../../assets/images/google-symbol.png" alt="" style="width: 50px;">
        <p> Sign In with Google</p>
      </a>
  </div>
  </form>             
  
   

  </div> 
  <!-- <p class="message">Have a problem? <a href="https://www.itss.edu.vn/">Contact us</a></p> -->
  <div style="display: flex; justify-content: center;">
    <p class="message">Have a problem? <a href="https://www.itss.edu.vn/">Contact us</a></p>
 </div>

