<div class="btn-functions">
    <div id="create-btn">
        <app-create-folder-dialog></app-create-folder-dialog>
    </div>
</div>
<div class="grid-container">
    <div class="grid-item" [nbContextMenu]="items" nbContextMenuTrigger="noop" (contextmenu)="openContextMenu()"
        nbContextMenuTag="open-rename-dialog">
        <nb-icon icon="folder-outline"></nb-icon>
        
    </div>
    <div class="grid-item">
        <nb-icon icon="folder-outline"></nb-icon> Folder Name
    </div>
    <div class="grid-item">
        <nb-icon icon="folder-outline"></nb-icon> Folder Name
    </div>
    <div class="grid-item">
        <nb-icon icon="folder-outline"></nb-icon> Folder Name
    </div>
    <div class="grid-item">
        <nb-icon icon="folder-outline"></nb-icon> Folder Name
    </div>
    <div class="grid-item">
        <nb-icon icon="folder-outline"></nb-icon> Folder Name
    </div>
    <div class="grid-item">
        <nb-icon icon="folder-outline"></nb-icon> Folder Name
    </div>
    <div class="grid-item">
        <nb-icon icon="folder-outline"></nb-icon> Folder Name
    </div>
    <div class="grid-item">
        <nb-icon icon="folder-outline"></nb-icon> Folder Name
    </div>
</div>