<div style="width:100% ; height: 100vh ; background-image: url('../../../assets/images/cloud-icons.png') ;background-repeat: no-repeat; background-size: cover;">
  <img src="../../../assets/images/dsadsa.png" alt="">
  <div class="content">
    <h1 style="text-align: center;color: darkblue;">Welcome to Drive</h1>
    <h2 style="text-align: center ;font-size:30px; margin-top:20px">Nơi bạn có thể lưu trữ mọi thứ</h2>
    <button routerLink="/login">Log in</button>
    <div style="display: flex; justify-content: center; ">
      <p style="display: contents;font-size:20px" class="message">Don't have an account? </p>
      <a routerLink="/sign-up" id="signup">Sign up now!!</a>
    </div>
  </div>
</div>