<h1 style="text-align: center ;">Sign up</h1>
<div class="form">
  <form [formGroup]="form" (ngSubmit)="submit()">                
      <input matInput placeholder="Username" formControlName="username" />
      <input matInput placeholder="Email address" formControlName="email" />
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <input
        matInput
        type="password"
        placeholder="Confirm Password"
        formControlName="Passwordconfirm"
      />
      <h4>Date of birth</h4>
       <input type="date" name="Date of birth" placeholder="Date of birth">
      <button type="submit" class="btn btn-info" (click)="submit()">Create</button>
      <div style="display: flex; justify-content: center;">
        <p class="message">Already have an account?</p>
        <a routerLink="/login">Log in</a>
      </div>
    </form>
    </div> 
  
     <!-- <p class="message">Have a problem? <a href="https://www.itss.edu.vn/">Contact us</a></p> -->
     <div style="display: flex; justify-content: center;">
        <p class="message">Have a problem? <a href="https://www.itss.edu.vn/">Contact us</a></p>
     </div>
