<div class="container">
        <img src="../../../../assets//images/user.png" alt="">
    <nb-card size="small">
        <nb-card-body>
          <nb-form-field>
            <input type="text" nbInput placeholder="username">
          </nb-form-field>
          <nb-form-field>
            <input type="date" nbInput placeholder="Date of birth">
          </nb-form-field>
          <nb-form-field>
            <input type="text" nbInput placeholder="">
          </nb-form-field>
          <nb-form-field>
            <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
            <input type="text" nbInput placeholder="">
          </nb-form-field>
          <nb-form-field>
            <input [type]="getInputType()" nbInput >
            <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
              <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                       pack="eva"
                       [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
              </nb-icon>
            </button>
          </nb-form-field>
          <div class="button">
            <button nbButton status="success">Success</button>
            <button nbButton status="warning">Cancel</button>
          </div>
        </nb-card-body>
    </nb-card>
    
</div>
